.card-container {
    perspective: 50em;
}

.card {
    transform: rotateY(30deg) rotateX(15deg);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card:hover {
    transform: rotateY(-30deg) rotateX(-15deg);
}

.layers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    /* background-image: linear-gradient(60deg, #880E4F, #1A237E); */
   background-image: linear-gradient(60deg, fff, #fff);
    transform: translateZ(var(--tz));
    /* box-shadow: 0 0 0.5em #000d inset; */
    box-shadow: 0 0 0.5em #A0C6D6 inset;
}

.layer:nth-child(1) {
    --tz: 0px;
}

.layer:nth-child(2) {
    --tz: -4px;
}

.layer:nth-child(3) {
    --tz: -8px;
}

.layer:nth-child(4) {
    --tz: -12px;
}

.layer:nth-child(5) {
    --tz: -16px;
}

.layer:nth-child(6) {
    --tz: -20px;
}

.layer:nth-child(7) {
    --tz: -24px;
}

.layer:nth-child(8) {
    --tz: -28px;
}

.layer:nth-child(9) {
    --tz: -32px;
}

.layer:nth-child(10) {
    --tz: -36px;
    box-shadow: 0 0 0.5em #000d inset, 0 0 5px #A0C6D6;
}